* {
  margin: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

.form-wrapper {
  text-align: center;
  margin: 30px auto;
  min-height: 500px;
  max-width: 450px;
  background-color: gray;
  position: relative;
}

.form {
  text-align: center;
}

.question {
  padding: 30px;
}

.choices-wrapper {
  margin: 10px 0;
}

.choices {
  padding: 10px 0;
}

.input-field {
  height: 30px;
  display: inline-block;
}

.input-field input {
  height: 100%;
}

input.checkbox {
  margin-right: 5px;
  right: 0;
  height: 20px;
  width: 20px;
  vertical-align: middle;
  cursor: pointer;
}

.button-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 30px;
}
